
<ul>
	<li>QB - Aaron Rodgers - 19.43</li>
	<li>WR - Julian Edelman - 8.21</li>
	<li>WR - Alshon Jeffrey - 9.81</li>
	<li>RB - Marshawn Lynch - 16.23</li>
	<li>RB - Lamar Miller - 13.21</li>
	<li>TE - Benjamin Watson - 12.41</li>
</ul>