
<ul>
	<li>QB - Carson Palmer - 19.43</li>
	<li>WR - Julio Jones - 8.21</li>
	<li>WR - Mike Evans - 9.81</li>
	<li>RB - Mark Ingram - 16.23</li>
	<li>RB - Giovanni Bernard - 13.21</li>
	<li>TE - Rob Gronkowski - 12.41</li>
</ul>