
<ul>
	<li>QB - Eli Manning - 19.43</li>
	<li>WR - Michael Crabtree - 8.21</li>
	<li>WR - Travis Benjamin - 9.81</li>
	<li>RB - Le'Veon Bell - 16.23</li>
	<li>RB - Chris Johnson - 13.21</li>
	<li>TE - Greg Olson - 12.41</li>
</ul>