
<ul>
	<li>QB - Tom Brady - 19.43</li>
	<li>WR - Aj Green - 8.21</li>
	<li>WR - Demarius Thomas - 9.81</li>
	<li>RB - Devonta Freeman - 16.23</li>
	<li>RB - Carlos Hyde- 13.21</li>
	<li>TE - Heath Miller - 12.41</li>
</ul>