
<ul>
	<li>QB - Andrew Luck - 19.43</li>
	<li>WR - Donte Moncrief - 8.21</li>
	<li>WR - Martavis Bryant - 9.81</li>
	<li>RB - Justin Forsett - 16.23</li>
	<li>RB - Eddy Lacy - 13.21</li>
	<li>TE - Travis Kelce - 12.41</li>
</ul>