
<ul>
	<li>QB - Matthew Stafford - 19.43</li>
	<li>WR - T.Y. Hilton - 8.21</li>
	<li>WR - Eric Decker - 9.81</li>
	<li>RB - Jonathan Stewart - 16.23</li>
	<li>RB - Frank Gore - 13.21</li>
	<li>TE - Tyler Eifert - 12.41</li>
</ul>