<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <% include ./partials/head %>

  </head>
  <body>

  



  <div class="jumbotron1">

  	<div class="container" id="jumboOneContainer">
  		<h1 id="hOne">THE LEAGUE</h1>
  		<p id="pOne">Welcome to the first Yahoo Fantasy Footbal Side Bet app!</p>
  	
  			<a href="/login"><button id-"loginBtn" type="button" class="btn btn-primary btn-lg">Login</button></a>
  			<a href="/signup"><button id="signupBtn" type="button" class="btn btn-primary btn-lg">Signup</button></a>
  		</p>
  	</div>

  </div>

 <!--RESPONSIVE COLUMNS -->



</body>
</html>