<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>FANTASY FOOTBALL SIDE BET APP</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="base.js"></script>

  </head>
  <body>
  <<div class="jumbotron">
  	<div class="container">
  		<h1>THE LEAGUE</h1>
  		<p>Welcome to the first Yahoo Fantasy Footbal Side Bet app!</p>
  		<p>
  			<a class="btn btn-primary btn-lg">Login</a>
  			<a class="btn btn-primary btn-lg">Signup</a>
  		</p>
  	</div>
  </div>

 <!--RESPONSIVE COLUMNS -->
 <div class="row">
  <div id="column1" class="col-xs-12 col-sm-4 panel" > 
  TEAM 1

  </div>
  <div id="column2" class="col-xs-6 col-sm-4 panel" > 
  USERS
  </div>
  <div id="column3" class="col-xs-6 col-sm-4 panel" >
  TEAM 2
  </div>
</div>


</body>
</html>