<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>
  <body>



  



  <div class="jumbotron2">
<!--<div class="whiterectangle"></div> -->
  	<div class="container">
  		<p>Welcome to the first Yahoo Fantasy Footbal Side Bet app!</p>
      <!-- profile.ejs -->
    <h1>Fight!</h1>
    
<hr>

<a id="logout" href="/logout" class="btn btn-default">Log Out</a>

  	   
  		</p>
  	</div>

  </div>

 <!--RESPONSIVE COLUMNS -->
<div class="containers">
 <div class="row ">
  <div id="column1" class="col-xs-12 col-sm-4 panel" > 
  	<h1 id="h1" > MY TEAM </h1>
  
  	</ul>
  

  </div>
  <div id="column2" class="col-xs-12 col-sm-4 panel" > 
 <button type="button" class="btn btn-default text-center" data-toggle="dropdown" id="dropBtn">TEAMS</button>
  	<ul class="dropdown-menu">
  		li*

  	</ul>


  </div>
  <div id="column3" class="col-xs-12 col-sm-4 panel" >
 <h2> OPPONENT </h2>
  </div>
</div>
</div>

</body>
</html>