<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>
  <body>



  



  <div class="jumbotron">
<!--<div class="whiterectangle"></div> -->
  	<div class="container">
  		<p>Welcome to the first Yahoo Fantasy Footbal Side Bet app!</p>
      <!-- profile.ejs -->
    <h1>Profile</h1>
    
<hr>

<a id="logout" href="/logout" class="btn btn-default">Log Out</a>

  	   
  		</p>
  	</div>

  </div>

 <!--RESPONSIVE COLUMNS -->
<div class="containers">
 <div class="row ">
  <div id="column1" class="col-xs-12 col-sm-4 panel" > 
  	<p> MY TEAM </p>
  
  	</ul>
  

  </div>
  <div id="column2" class="col-xs-12 col-sm-4 panel" > 
 <button type="button" class="btn btn-default text-center" data-toggle="dropdown">TEAMS</button>
  	<ul class="dropdown-menu">
  		<li> TEAM 1</li>
  		<Li> TEAM 2</Li>
  		<Li> TEAM 3</Li>
  		<li> TEAM 4</li>
  		<LI> TEAM 5</LI>
  		<Li> TEAM 6</Li>
  		<LI> TEAM 7</LI>
  		<li> TEAM 8</li>
  		<Li> TEAM 9</Li>
  		<li> TEAM 10</li>
  		<Li> TEAM11</Li>
  		<Li> TEAM 12</Li>

  	</ul>
  </div>
  <div id="column3" class="col-xs-12 col-sm-4 panel" >
  TEAM 2
  </div>
</div>
</div>

</body>
</html>