.row {
	border: solid;
	margin-top: 40px;

}

.jumbotron {
	text-align: center;
	background-size: cover;
}

.whiterectangle {
    background-color: #FFF;
    height: 350px;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
}

